@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans);

body {
  background-color: #FFEA00;
  font-family: "Josefin Sans";
}

h1,
h2,
h3 {
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  gap: 8px;
}


button {
  background-color: #FFEA00;
  border-radius: 8px;
  border-color: black;
}

.playing {
  transform: scale(1.1);
  border-color: black;
  box-shadow: 0 0 1rem black;
}

kbd {
  font-size: 32px;
  font-weight: bold;
  font-family: "Josefin Sans";
}